<!-- Importe o CSS do Bootstrap -->
<link href="/css/bootstrap.min.css" rel="stylesheet">

<!-- Importe o seu arquivo CSS personalizado -->
<link href="css/index.css" rel="stylesheet">

<!-- Importe o JS do Bootstrap -->
<script src="/js/bootstrap.bundle.min.js"></script>

<!-- Importe o Font Awesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<head>
<%- include('../components/Navbar/Navbar.ejs') %>
</head>



</body>








