
<Head class="head-home">

    </head>
        <body>
            <div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
            <div class="row">
                <div class="col-md-2 text-center">
                <img src="imagens/Jorge.png" alt="Imagem" class="square-image">
                </div>
                <div class="col-md-10">
                <h1 class="text-init fw-bold block-card"> 
                    Bem vindo(a) ao dichavando código!
                </h1>
                    
                <h3 class="text-init block-card">
                    Eu sou o Jorge! Desenvolvedor FullStack ^_^
                </h3>
                <p class="text-init block-card col-md-8">
                    Aqui será um blogfolio, onde me apresento e compartilho ideias...
                </p>

                <p class="text-init block-card col-md-8">Minhas stacks:
                    Fullstack | Python | Javascript | Docker | React | Django | SQL | MongoDB | GIT | shellscript | Nodejs | Power-BI | ETL
                </p>
                <p class="text-p-grey">
                    Me chamo Jorge Luis, sou estudante de Ciência da Computação na UFBRA e possuo experiência como Fullstack Developer na KeelWorks Foundation e DevSecOps na Lacrei Saúde, inclusive ainda estou trabalhando na keelworks como voluntário. Possuo habilidades técnicas em Node.js, Express.js, Python, Docker, Data science, Django, SQL, MongoDB, GIT, shellscript, Power-BI, ETL e Hardware. Também possuo conhecimentos em Scrum. Possuo treinamentos complementares em Cibersegurança e Ciência de Dados com Python disponibilizados pela Santander. Meu inglês é intermediário. Estou em busca de novas oportunidades para aplicar minhas habilidades e contribuir para o crescimento de pequenas e grandes empresas.
                </p>
                <ul class="list-inline d-flex justify-content-center">
                    <li class="list-inline-item me-3"><a class="dropdown-item" href="https://github.com/Jorge-X"><i class="fab fa-github mr-2"></i> Github</a></li>
                    <li class="list-inline-item me-3"><a class="dropdown-item" href="https://www.youtube.com/@Dichavando.codigo"><i class="fab fa-youtube mr-2"></i> Youtube</a></li>
                    <li class="list-inline-item me-3"><a class="dropdown-item" href="https://www.tiktok.com/@dichavando.codigo"><i class="fab fa-tiktok mr-2"></i> TikTok</a></li>
                    <li class="list-inline-item"><a class="dropdown-item" href="https://www.linkedin.com/in/jorge-luis-x/"><i class="fab fa-linkedin mr-2"></i> Linkedin</a></li>
                  </ul>
                  

                </div>
            </div>
            </div>
      </body>
</Head>